html {
    background-color: rgb(100, 100, 100);
}

form.upload,
div.player {
    background-color: white;

    width: 500px;
    height: 500px;
    padding: 5px;

    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

form.upload > input {
    width: 100%;
    height: 100%;
}

div.player > div.volume {
    margin-left: 100px;
}

div.player > div.list {
}
